    html, body {
      height:100%;
      background-color:#8F908A;
    }

    #editor {
      height:100%;
      width:100%;
    }

    #output {
      height:90%;
      width:100%;
    }


    #right {
      min-width:500px;
      width: auto;
      height:100%;
      background-color: #BDBDBD;
    }

    #top {
      height:30px;
      width:100%;
      background-color: #BDBDBD;
      float:left;
    }

    #preview {
      height:100%;
      width:100%;
      background-color: #FAFAFA;
      float:left;
    }

    .w2ui-panel-content {
      background-color: #BDBDBD;
    }

    #mainContent, #rightContent {
      display:none;
    }

    #tab-content {
      height: 90%;
      width: 100%;
    }

    #otoolbar {
      height: 40px;
      width: 100%;
      padding: 4px;
      border: 1px solid rgb(204, 204, 204);
    }

    #console {
      height:100% !important;
      width: 100% !important;
    }

    #propertyGrid {
        width: 100%;
        height:100%;
    }



    @keyframes blink {
        0% { opacity: 1; }
        25% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    @-webkit-keyframes blink {
        0% { opacity: 1; }
        25% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    @-ms-keyframes blink {
        0% { opacity: 1; }
        25% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    @-moz-keyframes blink {
        0% { opacity: 1; }
        25% { opacity: 0; }
        50% { opacity: 0; }
        100% { opacity: 1; }
    }
    .prompt, .command {
        color: #0c0;
        text-shadow: 0 0 3px rgba(0,100,0,50);
    }
    .cursor {
        background: #0c0;
        animation: blink 1s linear infinite;
        -webkit-animation: blink 1s infinite linear;
        -ms-animation: blink 1s infinite linear;
        -moz-animation: blink 1s infinite linear;
        -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
        -moz-box-shadow: 0 0 5px rgba(0,100,0,50);
        -ms-box-shadow: 0 0 5px rgba(0,100,0,50);
        -o-box-shadow: 0 0 5px rgba(0,100,0,50);
        box-shadow: 0 0 5px rgba(0,100,0,50);
    }